<div class="background_div">
    <nav>
        <ul>
            <li><a href="/" style="color: black; text-decoration: none">Home</a></li>
            <li><a href="/cookies "  style="color: black; text-decoration: none">Cookies</a></li>
            <li><a href="/muffins"  style="color: black; text-decoration: none">Muffins</a></li>
            <li><a href="/cakes" style="color: black; text-decoration: none">Cakes</a></li>
        </ul>
    </nav>
</div>