
<div>
    <h1 class="front_page_heading">
        Cookies
    </h1>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <img src="<%= @@oatmeal.image %>" alt="oatmeal cookies">
                    <div> <strong><%= @@oatmeal.name %></strong></div>
                    <div><strong>Price:</strong> <%= @@oatmeal.price %></div>
                    <div><strong>Quantity:</strong><%= @@oatmeal.quantity %> </div>
                    <div><p><strong>Description:</strong></p></div>
                </div>
            </div>
        </div>
    </div>
</div>