<h1 class="front_page_heading">Welocome to the Baker's World!</h1>
<h2 class="front_page_heading">You're not Addicted, you're just snacking</h2>

<br>
<br>

<div>
    <h1 class="front_page_heading">
       About Us 
    </h1>
    <br>
    <br>
    <img  class="about_us" src="bakery_case.jpg" alt="bakery">
    <br>
    <br>
    <p align=center>Here at Baker's Anonymous we stride to provide you with the tastiest treats possible. Please take your time and order something good for yourself, or for "others".</p>
</div>